{% extends "dashboard.html" %}

{% block css %}
	<style>
		.pull-left.pagination-detail {
			display:none;
		}
	</style>
{% end %}

{% block main %}
	<div class="container-fluid main">
		<div class="row">
			<div class="title"><h4>{{ _(u"GM工具")}}</h4></div>
		</div>

        <div class="well">
        	<div class="row">
        		<div class="col-lg-12">
        			<form class="form-inline" role="form">
						<div class="form-group">
						  	<label>{{ _(u'服务器') }}</label>
						    <input id="serv-select" class="form-control input-sm" data-toggle="modal" data-target="#serv-select-modal" placeholder="Mặc định toàn bộ server">
						</div>
					</form>
        		</div>
        	</div>

        	<div class="row margin-top-m">
				<div class="col-lg-12">
	        		<ul class="nav nav-tabs">
				    <li class="active"><a href="#refreshcsv" data-toggle="tab">{{ _(u"刷新配表") }}</a></li>
					<li><a href="#execpy" data-toggle="tab">{{ _(u"执行脚本") }}</a></li>
					<li><a href="#genrobots" data-toggle="tab">{{ _(u"生成机器人") }}</a></li>
					<li><a href="#cardattrs" data-toggle="tab">{{ _(u"计算卡牌属性") }}</a></li>
					<li><a href="#dataexport" data-toggle="tab">{{ _(u"导出数据") }}</a></li>
					<li><a href="#dataimport" data-toggle="tab">{{ _(u"导入数据") }}</a></li>
					<li><a href="#crossservice" data-toggle="tab">{{ _(u"跨服匹配") }}</a></li>
				</ul>
	        	</div>
			</div>

			<div class="row">
	        	<div class="col-lg-12">
	        		<div id="tabContent" class="tab-content">
						<div class="tab-pane fade in active" id="refreshcsv">
							<div class="margin-top-s">
								<p><i>Vui lòng chọn server, sau đó bấm xác nhận để <span class='note-red'>làm mới bảng cấu hình</span>.</i></p>
								<input id="refreshcsv-click" type="button" class="btn btn-default btn-success input-sm" value="Làm mới bảng cấu hình"><br>
								<pre id='show-ret' class="hidden margin-top-s"></pre>
							</div>
						</div>

						<div class="tab-pane fade" id="execpy">
							<div class="margin-top-s">
								<p><i>Vui lòng tải file script, chọn server, rồi bấm xác nhận để <span class='note-red'>chạy script</span>.</i></p>
								<input id='src-file' type='file'>
								<input id="execpy-click" type="button" class="btn btn-default btn-success input-sm margin-top-s" value="Chạy script"><br>
								<pre id='execpy-ret' class="hidden margin-top-s"></pre>
							</div>
						</div>

						<div class="tab-pane fade" id="genrobots">
							<div class="margin-top-s">
								<p><i>Vui lòng chọn server rồi bấm xác nhận để <span class='note-red'>tạo bot</span>.</i></p>
								<input id="genrobots-click" type="button" class="btn btn-default btn-success input-sm margin-top-s" value="Tạo bot"><br>
								<pre id='genrobots-ret' class="hidden margin-top-s"></pre>
							</div>
						</div>

						<div class="tab-pane fade" id="cardattrs">
							<div class="margin-top-s">
								<p><i>Vui lòng chọn server và nhập nhân vật để <span class='note-red'>tính chỉ số thẻ</span>.</i></p>
								<div class="form-inline">
			        				<div class="from-group">
			        					<div class="form-group">
										  	<label>{{ _(u"角色UID") }}</label>
									        <input id="role-uid" type="text" class="form-control input-sm">
										</div>
										<div class="form-group margin-left-m">
										  	<label></label>
									        <input id="card-role-search" type="button" class="form-control btn btn-primary btn-circle input-sm" value='{{ _(u"查询") }}'>
										</div>
			        				</div>
								</div>

								<div class="row margin-top-s">
		        					<div class="col-lg-4 col-md-4">
		        						<div>--Danh sách thẻ--</div><br>
									  	<table id="cards-display" class="table table-condensed"></table>
									</div>
									<div class="col-lg-2 col-md-3 right-border left-border">
										<div>--Thông tin thẻ--</div><br>
										<div id="card-info" class="note-red"></div>
										<br>
										<div>
											<input id="card-attrs-cal" type="button" class="btn btn-success input-sm" value='{{ _(u"计算") }}'>
										</div>
										<br>
										<div id="card-keys"></div>
									</div>
									<div class="col-lg-6 col-md-5">
										<div>--Chỉ số thẻ--</div><br>
										<div id="card-cal-result"></div>
										<div>
											<div>
												<table id="base-table"></table>
											</div>
											<div>
												<table id="character-table"></table>
											</div>
											<div>
												<table id="nvalue-table"></table>
											</div>
											<div>
												<table id="const-table"></table>
											</div>
											<div>
												<table id="percent-table"></table>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="tab-pane fade" id="dataexport">
							<div class="margin-top-s">
								<p><i>Sau khi xuất xong, bấm liên kết để tải xuống.</i></p>
								<input id="dataexport-click" type="button" class="btn btn-default btn-success input-sm" value="Xuất dữ liệu">
								<div id="dataexport-show" class='margin-left-m' style='display: inline-block;'></div>
							</div>
						</div>
						<div class="tab-pane fade" id="dataimport">
							<div class="margin-top-s">
								<p><i>Tải file nén mongo .json để thực hiện nhập dữ liệu.</i></p>
								<input id='dataimport-file' type='file'>
								<input id="dataimport-click" type="button" class="btn btn-default btn-success input-sm margin-top-s" value="Nhập dữ liệu">
								<div id="dataimport-show" class='margin-left-m' style='display: inline-block;'></div>
							</div>
						</div>

						<div class="tab-pane fade" id="crossservice">
							<div class="margin-top-s">
								<p><i>Chọn <span class='note-red'>dịch vụ liên server</span> cần kích hoạt, rồi bấm nút để chạy thủ công.</i></p>
								<p><i>Lưu ý: bình thường hệ thống tự chạy lúc 5:00 sáng mỗi ngày; mục này dùng cho tình huống khẩn cấp.</i></p>
								
								<div class="row margin-top-m">
									<div class="col-lg-12">
										<table class="table table-bordered table-hover" style="width: auto;">
											<thead>
												<tr>
													<th>Loại liên server</th>
													<th>Chọn cụm liên server</th>
													<th>Thao tác</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Đấu trường liên server</td>
													<td>
														<select class="form-control input-sm cross-service-select" data-type="crossarena">
															<option value="crossarena.cn.1">crossarena.cn.1</option>
															<option value="crossarena.cn.2">crossarena.cn.2</option>
															<option value="crossarena.cn.3">crossarena.cn.3</option>
															<option value="crossarena.cn.4">crossarena.cn.4</option>
															<option value="crossarena.cn.5">crossarena.cn.5</option>
															<option value="crossarena.cn.6">crossarena.cn.6</option>
															<option value="crossarena.cn.7">crossarena.cn.7</option>
															<option value="crossarena.cn.8">crossarena.cn.8</option>
															<option value="crossarena.cn.9">crossarena.cn.9</option>
															<option value="crossarena.cn.10">crossarena.cn.10</option>
														</select>
													</td>
													<td><button class="btn btn-warning btn-sm cross-service-btn" data-type="crossarena">Kích hoạt</button></td>
												</tr>
												<tr>
													<td>Đại hội Thạch Anh liên server</td>
													<td>
														<select class="form-control input-sm cross-service-select" data-type="crosscraft">
															<option value="crosscraft.cn.1">crosscraft.cn.1</option>
															<option value="crosscraft.cn.2">crosscraft.cn.2</option>
															<option value="crosscraft.cn.3">crosscraft.cn.3</option>
															<option value="crosscraft.cn.4">crosscraft.cn.4</option>
															<option value="crosscraft.cn.5">crosscraft.cn.5</option>
															<option value="crosscraft.cn.6">crosscraft.cn.6</option>
															<option value="crosscraft.cn.7">crosscraft.cn.7</option>
															<option value="crosscraft.cn.8">crosscraft.cn.8</option>
															<option value="crosscraft.cn.9">crosscraft.cn.9</option>
															<option value="crosscraft.cn.10">crosscraft.cn.10</option>
														</select>
													</td>
													<td><button class="btn btn-warning btn-sm cross-service-btn" data-type="crosscraft">Kích hoạt</button></td>
												</tr>
												<tr>
													<td>Nhà thi đấu liên server</td>
													<td>
														<select class="form-control input-sm cross-service-select" data-type="crossgym">
															<option value="crossgym.cn.1">crossgym.cn.1</option>
															<option value="crossgym.cn.2">crossgym.cn.2</option>
															<option value="crossgym.cn.3">crossgym.cn.3</option>
															<option value="crossgym.cn.4">crossgym.cn.4</option>
															<option value="crossgym.cn.5">crossgym.cn.5</option>
															<option value="crossgym.cn.6">crossgym.cn.6</option>
															<option value="crossgym.cn.7">crossgym.cn.7</option>
															<option value="crossgym.cn.8">crossgym.cn.8</option>
															<option value="crossgym.cn.9">crossgym.cn.9</option>
															<option value="crossgym.cn.10">crossgym.cn.10</option>
														</select>
													</td>
													<td><button class="btn btn-warning btn-sm cross-service-btn" data-type="crossgym">Kích hoạt</button></td>
												</tr>
												<tr>
													<td>Chiến tài nguyên liên server</td>
													<td>
														<select class="form-control input-sm cross-service-select" data-type="crossmine">
															<option value="crossmine.cn.1">crossmine.cn.1</option>
															<option value="crossmine.cn.2">crossmine.cn.2</option>
															<option value="crossmine.cn.3">crossmine.cn.3</option>
															<option value="crossmine.cn.4">crossmine.cn.4</option>
															<option value="crossmine.cn.5">crossmine.cn.5</option>
															<option value="crossmine.cn.6">crossmine.cn.6</option>
															<option value="crossmine.cn.7">crossmine.cn.7</option>
															<option value="crossmine.cn.8">crossmine.cn.8</option>
															<option value="crossmine.cn.9">crossmine.cn.9</option>
															<option value="crossmine.cn.10">crossmine.cn.10</option>
														</select>
													</td>
													<td><button class="btn btn-warning btn-sm cross-service-btn" data-type="crossmine">Kích hoạt</button></td>
												</tr>
												<tr>
													<td>Đối chiến thời gian thực liên server</td>
													<td>
														<select class="form-control input-sm cross-service-select" data-type="onlinefight">
															<option value="onlinefight.cn.1">onlinefight.cn.1</option>
															<option value="onlinefight.cn.2">onlinefight.cn.2</option>
															<option value="onlinefight.cn.3">onlinefight.cn.3</option>
															<option value="onlinefight.cn.4">onlinefight.cn.4</option>
															<option value="onlinefight.cn.5">onlinefight.cn.5</option>
															<option value="onlinefight.cn.6">onlinefight.cn.6</option>
															<option value="onlinefight.cn.7">onlinefight.cn.7</option>
															<option value="onlinefight.cn.8">onlinefight.cn.8</option>
															<option value="onlinefight.cn.9">onlinefight.cn.9</option>
															<option value="onlinefight.cn.10">onlinefight.cn.10</option>
														</select>
													</td>
													<td><button class="btn btn-warning btn-sm cross-service-btn" data-type="onlinefight">Kích hoạt</button></td>
												</tr>
												<tr>
													<td>Công hội liên server</td>
													<td>
														<select class="form-control input-sm cross-service-select" data-type="crossunionfight">
															<option value="crossunionfight.cn.1">crossunionfight.cn.1</option>
															<option value="crossunionfight.cn.2">crossunionfight.cn.2</option>
															<option value="crossunionfight.cn.3">crossunionfight.cn.3</option>
															<option value="crossunionfight.cn.4">crossunionfight.cn.4</option>
															<option value="crossunionfight.cn.5">crossunionfight.cn.5</option>
															<option value="crossunionfight.cn.6">crossunionfight.cn.6</option>
															<option value="crossunionfight.cn.7">crossunionfight.cn.7</option>
															<option value="crossunionfight.cn.8">crossunionfight.cn.8</option>
															<option value="crossunionfight.cn.9">crossunionfight.cn.9</option>
															<option value="crossunionfight.cn.10">crossunionfight.cn.10</option>
														</select>
													</td>
													<td><button class="btn btn-warning btn-sm cross-service-btn" data-type="crossunionfight">Kích hoạt</button></td>
												</tr>
												<tr>
													<td>Chat liên server</td>
													<td>
														<select class="form-control input-sm cross-service-select" data-type="crosschat">
															<option value="crosschat.cn.1">crosschat.cn.1</option>
															<option value="crosschat.cn.2">crosschat.cn.2</option>
															<option value="crosschat.cn.3">crosschat.cn.3</option>
															<option value="crosschat.cn.4">crosschat.cn.4</option>
															<option value="crosschat.cn.5">crosschat.cn.5</option>
															<option value="crosschat.cn.6">crosschat.cn.6</option>
															<option value="crosschat.cn.7">crosschat.cn.7</option>
															<option value="crosschat.cn.8">crosschat.cn.8</option>
															<option value="crosschat.cn.9">crosschat.cn.9</option>
															<option value="crosschat.cn.10">crosschat.cn.10</option>
														</select>
													</td>
													<td><button class="btn btn-warning btn-sm cross-service-btn" data-type="crosschat">Kích hoạt</button></td>
												</tr>
												<tr>
													<td>Đối chiến mô phỏng</td>
													<td>
														<select class="form-control input-sm cross-service-select" data-type="crossmimicry">
															<option value="crossmimicry.cn.1">crossmimicry.cn.1</option>
														</select>
													</td>
													<td><button class="btn btn-warning btn-sm cross-service-btn" data-type="crossmimicry">Kích hoạt</button></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
								<pre id='crossservice-ret' class="hidden margin-top-s"></pre>
							</div>
						</div>
					</div>
	        	</div>
	        </div>

        </div>

	</div>
{% end %}

{% block js %}
	<script>
		var CardsRoleInfo = {};
		const cardsConfig = {
			"keys": [
				["unit", "Cơ bản"],
				["star", "Sao"],
				["advance", "Bậc"],
				["nvalue", "Chỉ số cá thể"],
				["character", "Tính cách"],
				["fetters", "Liên kết"],
				["effort", "EV"],
				["feel", "Độ thân mật"],
				["feel_effect", "Hiệu quả thân mật"],
				["equips", "Trang sức"],
				["passive_skill", "Kỹ năng bị động"],
				["talent", "Thiên phú"],
				["trainer", "Cấp huấn luyện viên"],
				["trainer_attr_skill", "Kỹ năng thuộc tính cấp huấn luyện viên"],
				["pokedex", "Pokédex"],
				["pokedex_advance", "Đột phá Pokédex"],
				["figure", "Ngoại hình"],
				["title", "Danh hiệu"],
				["union_skill", "Tu luyện công hội"],
				["heldItems", "Vật phẩm mang theo"],
				["heldItems_effect", "Hiệu quả vật phẩm mang theo"],
				["explorer_component", "Linh kiện máy thám hiểm"],
				["explorer_effect", "Hiệu quả máy thám hiểm"],
				["star_effect", "Hiệu quả điểm tiềm năng"],
				["ability", "Đặc tính"]
			],

			"attrs": [
				["hp", "HP"],
				["mp1", "MP1"],
				["mp2", "MP2"],
				["hpRecover", "Hồi HP"],
				["mp1Recover", "Hồi MP1"],
				["mp2Recover", "Hồi MP2"],
				["damage", "Công vật lý"],
				["specialDamage", "Công đặc biệt"],
				["defence", "Phòng thủ vật lý"],
				["specialDefence", "Phòng thủ đặc biệt"],
				["defenceIgnore", "Xuyên phòng thủ vật lý"],
				["specialDefenceIgnore", "Xuyên phòng thủ đặc biệt"],
				["speed", "Tốc độ"],
				["strike", "Bạo kích"],
				["strikeDamage", "Sát thương bạo kích"],
				["strikeResistance", "Kháng bạo kích"],
				["block", "Cấp đỡ đòn"],
				["breakBlock", "Cấp phá đỡ đòn"],
				["blockPower", "Cường độ đỡ đòn"],
				["dodge", "Né tránh"],
				["hit", "Chính xác"],
				["damageAdd", "Tăng sát thương"],
				["damageSub", "Giảm sát thương"],
				["ultimateAdd", "Tăng tất sát"],
				["ultimateSub", "Kháng tất sát"],
				["suckBlood", "Hút máu"],
				["rebound", "Phản sát thương"],
				["cure", "Hiệu quả hồi phục"],
				["natureRestraint", "Khắc hệ"],
				["damageDeepen", "Khuếch đại sát thương"],
				["damageReduce", "Giảm nhận sát thương"]
			],

			"attrs_extend": [
				["physicalDamageAdd", "Tăng sát thương công vật lý"],
				["physicalDamageSub", "Giảm sát thương công vật lý"],
				["specialDamageAdd", "Tăng sát thương công đặc biệt"],
				["specialDamageSub", "Giảm sát thương công đặc biệt"],

				["normalDamageAdd", "Tăng sát thương hệ Thường"],
				["fireDamageAdd", "Tăng sát thương hệ Lửa"],
				["waterDamageAdd", "Tăng sát thương hệ Nước"],
				["grassDamageAdd", "Tăng sát thương hệ Cỏ"],
				["electricityDamageAdd", "Tăng sát thương hệ Điện"],
				["iceDamageAdd", "Tăng sát thương hệ Băng"],
				["combatDamageAdd", "Tăng sát thương hệ Giác đấu"],
				["poisonDamageAdd", "Tăng sát thương hệ Độc"],
				["groundDamageAdd", "Tăng sát thương hệ Đất"],
				["flyDamageAdd", "Tăng sát thương hệ Bay"],
				["superDamageAdd", "Tăng sát thương hệ Siêu năng"],
				["wormDamageAdd", "Tăng sát thương hệ Côn trùng"],
				["rockDamageAdd", "Tăng sát thương hệ Đá"],
				["ghostDamageAdd", "Tăng sát thương hệ Ma"],
				["dragonDamageAdd", "Tăng sát thương hệ Rồng"],
				["evilDamageAdd", "Tăng sát thương hệ Bóng tối"],
				["steelDamageAdd", "Tăng sát thương hệ Thép"],
				["fairyDamageAdd", "Tăng sát thương hệ Tiên"],

				["normalDamageSub", "Giảm sát thương hệ Thường"],
				["fireDamageSub", "Giảm sát thương hệ Lửa"],
				["waterDamageSub", "Giảm sát thương hệ Nước"],
				["grassDamageSub", "Giảm sát thương hệ Cỏ"],
				["electricityDamageSub", "Giảm sát thương hệ Điện"],
				["iceDamageSub", "Giảm sát thương hệ Băng"],
				["combatDamageSub", "Giảm sát thương hệ Giác đấu"],
				["poisonDamageSub", "Giảm sát thương hệ Độc"],
				["groundDamageSub", "Giảm sát thương hệ Đất"],
				["flyDamageSub", "Giảm sát thương hệ Bay"],
				["superDamageSub", "Giảm sát thương hệ Siêu năng"],
				["wormDamageSub", "Giảm sát thương hệ Côn trùng"],
				["rockDamageSub", "Giảm sát thương hệ Đá"],
				["ghostDamageSub", "Giảm sát thương hệ Ma"],
				["dragonDamageSub", "Giảm sát thương hệ Rồng"],
				["evilDamageSub", "Giảm sát thương hệ Bóng tối"],
				["steelDamageSub", "Giảm sát thương hệ Thép"],
				["fairyDamageSub", "Giảm sát thương hệ Tiên"],

				["normalCure", "Tăng hồi phục hệ Thường"],
				["fireCure", "Tăng hồi phục hệ Lửa"],
				["waterCure", "Tăng hồi phục hệ Nước"],
				["grassCure", "Tăng hồi phục hệ Cỏ"],
				["electricityCure", "Tăng hồi phục hệ Điện"],
				["iceCure", "Tăng hồi phục hệ Băng"],
				["combatCure", "Tăng hồi phục hệ Giác đấu"],
				["poisonCure", "Tăng hồi phục hệ Độc"],
				["groundCure", "Tăng hồi phục hệ Đất"],
				["flyCure", "Tăng hồi phục hệ Bay"],
				["superCure", "Tăng hồi phục hệ Siêu năng"],
				["wormCure", "Tăng hồi phục hệ Côn trùng"],
				["rockCure", "Tăng hồi phục hệ Đá"],
				["ghostCure", "Tăng hồi phục hệ Ma"],
				["dragonCure", "Tăng hồi phục hệ Rồng"],
				["evilCure", "Tăng hồi phục hệ Bóng tối"],
				["steelCure", "Tăng hồi phục hệ Thép"],
				["fairyCure", "Tăng hồi phục hệ Tiên"]
			]
		}

		$(function() {
			$("#refreshcsv-click").on('click', function() {
				let reqData = getReqData();

				$.ajax({
					url: '/refreshcsv',
					type: 'post',
					async: true,
					contentType: 'application/json',
					data: JSON.stringify(reqData),
					success: function(result) {
						$("#show-ret").removeClass('hidden');
						$("#show-ret").text(result.ret);
						alert("Thành công");
					}
				})
			})

			$("#execpy-click").on('click', function() {
				let file = $("#src-file").prop('files')[0];
				console.log(file);

				if ((!file) || (file.size == 0)) {
					alert("File trống, vui lòng chọn file");
					return;
				}

				let form = new FormData();
	            form.append("src", file);
	            let reqData = getReqData();
	            if (reqData.servName)
	            	form.append("servName", reqData.servName);

				$.ajax({
					url: '/execpy',
					type: 'post',
					async: true,
					contentType: false,
                	processData: false,
					data: form,
					success: function(rep) {
						$("#execpy-ret").removeClass('hidden');
						$("#execpy-ret").text(rep.result);
						alert("Thành công");
					}
				})
			})

			$("#genrobots-click").on('click', function() {
				let reqData = getReqData();
				if (!reqData.servName) {
					alert('Bắt buộc phải chọn một server');
					return;
				}

				$.ajax({
					url: '/genrobots',
					type: 'post',
					async: true,
					contentType: 'application/json',
					data: JSON.stringify(reqData),
					success: function(rep) {
						$("#genrobots-ret").removeClass('hidden');
						$("#genrobots-ret").text(rep.result);
						alert("Thành công");
					}
				})
			})

			// 卡牌属性计算
			let html = "<div>--Chọn mục bỏ qua--</div>";
			for (let i=0; i<cardsConfig.keys.length; i++) {
				html += '<div><input name="card-info-checkbox" type="checkbox" value="'+ cardsConfig.keys[i][0] + '">' + cardsConfig.keys[i][1] + "</div>";
			}
			$("#card-keys").html(html);

			$("#card-role-search").on('click', function() {
				let reqData = getReqData()
				if (!(reqData.servName)) {
					alert("Vui lòng chọn một server");
					return;
				}
				let role_uid = $("#role-uid").val();
				if (!(role_uid)) {
					alert("Vui lòng nhập một UID nhân vật");
					return;
				}
				reqData.role_uid = parseInt(role_uid);

				$.ajax({
					url: "/calattrs",
					type: 'get',
					data: reqData,
					async: true,
					success: function(rep) {
						CardsRoleInfo = rep.role || {};
						CardsRoleInfo.servName = reqData.servName;
						$("#cards-display").bootstrapTable('destroy');
						$("#cards-display").bootstrapTable({
							striped: true,
							pagination: true,
							sidePagination: "client",
							pageNumber: 1,
							pageSize: 20,
							pageList: [20, 30, 40],
					        columns: rep["columns"],
					        data: rep["data"],
					        onClickRow: function(row, ele) {
					        	console.log(row);
					        	let html = "";
						    	html += "<p>Nhân vật hiện tại: " + CardsRoleInfo.servName + ", " + CardsRoleInfo.id +
					        		", " + CardsRoleInfo.name + "</p><br>";
						    	html += "<p>Tên: " + row.name + "</p>";
					        	html += "<p>CSV ID: " + row.card_id + "</p>";
					        	html += "<p>DB ID: <span id='cur_card_id'>" + row.id + "</span></p>";
						    	html += "<p>Cấp: " + row.level + "</p>";
						    	html += "<p>Sao: " + row.star + "</p>";
						    	html += "<p>Bậc: " + row.advance + "</p>";
						    	html += "<p>Tính cách: " + row.character + "</p>";
					        	$("#card-info").html(html);
					        },
					        locale: userLocale
						})
						$("#cards-display").bootstrapTable('hideColumn', 'id');

					}
				})
			})

			$("#card-attrs-cal").on('click', function() {
				CardsRoleInfo.cur_card_id = $("#cur_card_id").text();
				console.log(CardsRoleInfo)
				if (!CardsRoleInfo.servName || !CardsRoleInfo.id || !CardsRoleInfo.cur_card_id) {
					alert("Vui lòng truy vấn lại");
					return;
				}
				let disables = [];
				$("input[name='card-info-checkbox']").each(function() {
					if (this.checked)
						disables.push($(this).attr('value'));
				})
				CardsRoleInfo.disables = disables

				$.ajax({
					url: "/calattrs",
					type: 'post',
					contentType: 'application/json',
					data: JSON.stringify(CardsRoleInfo),
					async: true,
					success: function(rep) {
						let html = "<pre>" + prettyJSON(JSON.stringify(rep.ret)) + "</rep>";
						$("#card-cal-result").html(html);

						// tables
						console.log(rep.tables)
						console.log(rep.columns)
						let tables = {
							'base': '#base-table',
							'percent': '#percent-table',
							'character': '#character-table',
							'const': '#const-table',
							'nvalue': '#nvalue-table'
						}
						for (let t in tables) {
							// $(tables[t]).prepend(`<div>${t}</div>`)
							$(tables[t]).bootstrapTable('destroy')
							$(tables[t]).bootstrapTable({
								striped: true,
								// buttonsAlign: 'left',
								showColumns: true,
								pagination: true,
								sidePagination: "client",
								pageNumber: 1,
								pageSize: 10,
								pageList: [10, 20, 30, 40],
						        columns: rep.columns[t],
						        data: rep.tables[t],
						        locale: userLocale
							})

							// for (let l=0; l<rep.columns[t].length; l++) {
							// 	if (l > 6) {
							// 		$(tables[t]).bootstrapTable('hideColumn', rep.columns[t][l]);
							// 	}
							// }
						}

					}
				})

			})

			$('#dataexport-click').on('click', function() {
				$(this).attr('disabled', true);
				$('#dataexport-show').html('<strong style="color: red;">Đang xuất dữ liệu, vui lòng chờ...</strong>');
                $.ajax({
                    url: '/data_export',
                    type: 'get',
                    async: true,
                    success: function(rep) {
                        if (!rep.ret) {
							alert('Xuất dữ liệu thất bại');
                        } else {
							alert('Xuất dữ liệu hoàn tất');
							let h = `<a href='statics/${rep.data}' download='' title="Tải xuống"  mce_href="#">${rep.data}</a>`;
                            $('#dataexport-show').html(h);
                        }
                    },
                    complete: function() {
                    	$('#dataexport-click').attr('disabled', false);
                    }
                })
            })

            $('#dataimport-click').on('click', function() {
            	$(this).attr('disabled', true);
				$('#dataimport-show').html('<strong style="color: red;">Đang nhập dữ liệu, vui lòng chờ...</strong>');

				let importFile = document.getElementById('dataimport-file').files[0];
				if (!importFile) {
					alert('Vui lòng chọn file dữ liệu trước khi nhập');
					return;
				}
				let form = new FormData();
				form.append('importFile', importFile)

				$.ajax({
                    url: '/data_export',
                    type: 'post',
                    async: true,
                    contentType: false,
                    processData: false,
                    data: form,
                    success: function(rep) {
                        console.log(rep)
                        if (rep.ret === false) {
                        	alert(rep.msg)
                        } else {
							alert('Nhập dữ liệu thành công')
                        }
                    },
                    complete: function() {
                    	$('#dataimport-click').attr('disabled', false);
						$('#dataimport-show').html('');
                    }
                })
            })

			// 跨服服务触发
			$('.cross-service-btn').on('click', function() {
				let btn = $(this);
				let serviceType = btn.data('type');
				let serviceKey = $('select[data-type="' + serviceType + '"]').val();
				let serviceName = btn.closest('tr').find('td:first').text();
				
				if (!confirm('Bạn có chắc muốn kích hoạt thủ công ' + serviceName + ' (' + serviceKey + ') không?')) {
					return;
				}
				
				btn.attr('disabled', true);
				$('#crossservice-ret').removeClass('hidden');
				$('#crossservice-ret').text('Đang kích hoạt ' + serviceKey + ', vui lòng chờ...');

				$.ajax({
					url: '/cross/service/start',
					type: 'post',
					async: true,
					contentType: 'application/json',
					data: JSON.stringify({serviceKey: serviceKey}),
					success: function(rep) {
						if (rep.result) {
							$('#crossservice-ret').text('Kích hoạt thành công: ' + rep.message);
							alert(serviceKey + ' kích hoạt thành công!');
						} else {
							$('#crossservice-ret').text('Kích hoạt thất bại: ' + rep.message);
							alert(serviceKey + ' kích hoạt thất bại: ' + rep.message);
						}
					},
					error: function(xhr, status, error) {
						$('#crossservice-ret').text('Yêu cầu thất bại: ' + error);
						alert('Yêu cầu thất bại: ' + error);
					},
					complete: function() {
						btn.attr('disabled', false);
					}
				})
			})
		})

		function getReqData() {
			let reqData = {};
			let servName = $("#serv-select").val();
			if (servName)
				reqData.servName = servName;

			return reqData;
		}


	</script>
{% end %}